<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523493339721-o9svcn0k980fq65kjjepmf7q5lghf09n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523493339721-o9svcn0k980fq65kjjepmf7q5lghf09n</string>
	<key>API_KEY</key>
	<string>AIzaSyDHswIh7VJhEcyYiU28Q2TFh57zolmV2uM</string>
	<key>GCM_SENDER_ID</key>
	<string>523493339721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>login-3dcb1</string>
	<key>STORAGE_BUCKET</key>
	<string>login-3dcb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523493339721:ios:b48775982d2759bc0f0598</string>
</dict>
</plist>